  {% extends 'index.html' %}
  {% load static %}

  {% block additional_styles %}
        <title> Event_z </title>  
        <link href="{% static 'images/speakers/lotus.png' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

       <style>
          ::selection{
            color: #fff;
            background: #5372F0;
          }
          .wrapper{
            width: 380px;
            padding: 40px 30px 50px 30px;
            background: #fff;
            border-radius: 5px;
            text-align: center;
            box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
          }
          .wrapper header{
            font-size: 35px;
            font-weight: 600;
          }
          .wrapper form{
            margin: 40px 0;
          }
          form .field{
            width: 100%;
            margin-bottom: 20px;
          }
          form .field.shake{
            animation: shake 0.3s ease-in-out;
          }
          @keyframes shake {
            0%, 100%{
              margin-left: 0px;
            }
            20%, 80%{
              margin-left: -12px;
            }
            40%, 60%{
              margin-left: 12px;
            }
          }
          form .field .input-area{
            height: 50px;
            width: 100%;
            position: relative;
          }
          form input{
            width: 100%;
            height: 100%;
            outline: none;
            padding: 0 45px;
            font-size: 18px;
            background: none;
            caret-color: #5372F0;
            border-radius: 5px;
            border: 1px solid #bfbfbf;
            border-bottom-width: 2px;
            transition: all 0.2s ease;
          }
          form .field input:focus,
          form .field.valid input{
            border-color: #5372F0;
          }
          form .field.shake input,
          form .field.error input{
            border-color: #dc3545;
          }
          .field .input-area i{
            position: absolute;
            top: 50%;
            font-size: 18px;
            pointer-events: none;
            transform: translateY(-50%);
          }
          .input-area .icon{
            left: 15px;
            color: #bfbfbf;
            transition: color 0.2s ease;
          }
          .input-area .error-icon{
            right: 15px;
            color: #dc3545;
          }
          form input:focus ~ .icon,
          form .field.valid .icon{
            color: #5372F0;
          }
          form .field.shake input:focus ~ .icon,
          form .field.error input:focus ~ .icon{
            color: #bfbfbf;
          }
          form input::placeholder{
            color: #bfbfbf;
            font-size: 17px;
          }
          form .field .error-txt{
            color: #dc3545;
            text-align: left;
            margin-top: 5px;
          }
          form .field .error{
            display: none;
          }
          form .field.shake .error,
          form .field.error .error{
            display: block;
          }
          form .pass-txt{
            text-align: left;
            margin-top: -10px;
          }
          .wrapper a{
            color: #5372F0;
            text-decoration: none;
          }
          .wrapper a:hover{
            text-decoration: underline;
          }
          form input[type="submit"]{
            height: 50px;
            margin-top: 30px;
            color: #fff;
            padding: 0;
            border: none;
            background: #5372F0;
            cursor: pointer;
            border-bottom: 2px solid rgba(0,0,0,0.1);
            transition: all 0.3s ease;
          }
          form input[type="submit"]:hover{
            background: #2c52ed;
          }
       </style> 
  {% endblock %}

  {% block content %}
  
  <!--navbar section start -->

  <nav class="navbar main-nav border-less fixed-top navbar-expand-lg ">
    <div class="container-fluid p-0">
        <!-- logo -->
        <a class="navbar-brand" href="">
          <p><b style="color:Red;font-size:50px;font-family: 'Times New Roman'">E</b><span style = "font-size : 35px;color:#561e87;font-family: 'Times New Roman'">VENT_Z </span></p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
          <ul class="navbar-nav  ">        
            <li class=" active" >
              <a class="nav-link " href="{% url 'home' %}"  >Home           
              </a>  
            </li>
          </ul>       
        </div>
    </div>
  </nav>
    <!--navbar section end -->

    <!--login section start -->
<div></div>
  <section class="h-100 banner bg-subscribe overlay-light" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                    

                  <img src="{% static 'images/speakers/lotus.png' %}" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Event_z Team</h4>
                </div>             
                        <div class="input_wrap">
                          {% comment %} <p>{{message}}</p><br> {% endcomment %}

                          

                        <form method="post" action="" >
                        {% csrf_token %}
                            <div class="field username">
                              <div class="input-area">
                              {% comment %} <label for="username" class="text-info">Username:</label><br>{% endcomment %}
                              {% comment %} {{ form.username }}                                {% endcomment %}
                                <input type="text" name="username" placeholder="username"> 
                                <i class="icon fas fa-user" ></i>
                                <i class="error error-icon fas fa-exclamation-circle"></i>
                              </div>
                              <div class="error error-txt">Username can't be blank</div>
                            </div>
                            <div class="field password">
                              <div class="input-area">
                               {% comment %} <label for="password" class="text-info">Password:</label><br>{% endcomment %}
                               {{ form.password }} 
                                <input type="password" name ="password" placeholder="Password">
                                <i class="icon fas fa-lock"></i>
                                <i class="error error-icon fas fa-exclamation-circle"></i>
                              </div>
                              <div class="error error-txt" id ="error-password">Password can't be blank</div>
                            </div>
                            <div class="pass-txt"><a href="#">Forgot password?</a></div>
                            <input type="submit" value="Login">
                          </form>
                        </div>                                                 
                
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center bg-info  ">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4 ">
                <h4 class="mb-4 text-white">We are more than just a company</h4>
                <p class="small mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src = "{% static 'js/script.js' %}"> </script>

<!--login section end -->

  {% endblock %}