{% extends 'index.html' %}
{% load static %}

{% block additional_styles %}
<title> Event_z </title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
      .border-col {
        border:3px dashed ;
      }
    </style>
{% endblock %}

{% block content %}

<!--navbar section start -->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
	<div class="container-fluid p-0">      
		<a class="navbar-brand" href="{% url 'home' %}">
			<p><b style="color:Red;font-size:50px;font-family: 'Times New Roman'">E</b><span style = "font-size : 35px;color:#561e87;font-family: 'Times New Roman'">VENT_Z </span></p>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
			     
		 <ul class="navbar-nav mr-1 ">
          <li class="nav-item">
            <img src="{% static 'images/speakers/lotus.png' %}" style="width: 90px;" alt="logo">
          </li>
        </ul>
	</div>
</div>
</nav> 
<!--navbar section end -->    

<!--payment proceed section end -->    

<section class="banner  overlay-dark text-center text-dark ">
	<div class="container">
		<div class="row">
			<div class="col-lg-12  border-col border-primary rounded p-4">
				<div class="product">       
					<div class="description">
						<h3 class ="text-white">Event : &nbsp; {{request.session.event_name}}</h3><br>
						<h5 class ="text-white">Payment Status :&nbsp; Not Paid</h5><br>
					</div>
					<div>
						<p class ="text-warning h3">Only by paying ₹.100,can show the created event into the Event_z website.Are you ready to pay?</p>          
					</div>
				</div><br>
				<form action="{% url 'create-checkout-session' id %}" method="POST">
					{% csrf_token %}
					<button type="submit" id="checkout-button" class="btn btn-success btn-md text-light " id="submitBtn">Proceed</button>&nbsp;&nbsp;
					<button type="button" name="cancel" class="btn btn-danger btn-sm " ><a href= "{% url 'home' %}" class="text-white" >Cancel</a></button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}